body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(210, 224, 215);
}

div#plan-detail-1 {
    margin: 5em;
    position: fixed;
    background-color: blue;
    box-shadow: 0px 0px 25pxgray;
    width: 200px;
    height: 300px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

div#plan-detail-1 {
    margin: 5em;
    position: fixed;
    background-color: green;
    box-shadow: 0px 0px 25pxgray;
    width: 200px;
    height: 300px;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    list-style-type: none;
}

div#plan-detail-2 {
    margin-top: 5em;
    margin-left: 25em;
    position: fixed;
    background-color: blue;
    box-shadow: 0px 0px 25pxgray;
    width: 200px;
    height: 300px;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
}

div#plan-detail-3 {
    margin-top: 5em;
    margin-left: 45em;
    position: fixed;
    background-color: orange;
    box-shadow: 0px 0px 25pxgray;
    width: 200px;
    height: 300px;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
}

div#plan-detail-price {
    margin: 1.5em;
    margin-left: -20px;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    width: 60px;
    height: 45px;
    border-top-right-radius: 50em;
    border-bottom-left-radius: 50em;
    font-size: 25px;
}

img {
    padding-left: 45px;
    height: 10px;
    width: 10px;
    padding-right: 0px;
}

table,
tr,
td {
    border-collapse: collapse;
    width: auto;
    column-width: 50px;
    font-size: 10px;
}

/* table tr{
    margin-right: -50px;
    }
    table tr td{
    padding-right: 0px;
    } */